.biker__img {
  width: calc(650/1200*100%);
  max-width: 650px;
  aspect-ratio: 10 / 7;
  pointer-events: none;
}

@media screen and (max-width: 767px) {
  .biker__img {
    width: 100%;
    max-width: none;
  }
}