.biker__quote {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  width: calc(470/1200*100%);
}

@media screen and (max-width: 767px) {
  .biker__quote {
    width: 100%;
  }
}