.highway__pic {
  object-fit: cover;
  object-position: center;
  pointer-events: none;
  display: block;
  width: 650px;
  aspect-ratio: 13 / 8;
}

@media screen and (max-width: 767px) {
  .highway__pic {
    width: calc(100vw - 36px);
  }
}