.bikes__cards {
  width: 100%;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 117px 0 0;
  list-style-type: none;
}

@media screen and (max-width: 1023px) {
  .bikes__cards {
    margin-top: 60px;
  }
}

@media screen and (max-width: 767px) {
  .bikes__cards {
    margin-top: 0;
    gap: 0;
  }
}