.highway__selector {
  display: flex;
  gap: 20px;
  grid-area: btn;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .highway__selector {
    justify-content: flex-end;
    gap: 10px;
  }
}