.bikes {
  padding-right: 120px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 1023px) {
  .bikes {
    padding-right: 60px;
  }
}

@media screen and (max-width: 767px) {
  .bikes {
    flex-direction: column;
    padding-right: 0;
    gap: 20px;
    padding-top: 40px;
    border-top: 1px solid rgba(277, 277, 277, .5);
  }
}