.highway {
  display: grid;
  row-gap: 50px;
  grid-template-areas:
    "title"
    "subtitle"
    "img"
    "btn";
}

@media screen and (max-width: 1023px) {
  .highway {
  }
}

@media screen and (max-width: 767px) {
  .highway {
    grid-template-areas:
      "title btn"
      "img img"
      "subtitle subtitle";
    row-gap: 40px;
    padding-top: 40px;
    border-top: 1px solid rgba(277, 277, 277, .5);
  }
}