.highway__rectangle {
  background-image: url("../../../images/rectangle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  aspect-ratio: 5/2;
  position: absolute;
  left: 0;
  bottom: 4%;
  z-index: 1;
  opacity: 0;
  transition: opacity .5s linear;
}

.swiper-slide-active .highway__rectangle {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .highway__rectangle {
    width: 21.5vw;
    bottom: 8%;
  }
}