.bikes__img-container {
  aspect-ratio: 1/1;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 20px;
  box-shadow: 0 20px 140px rgba(0, 0, 0, 0.06);
}

.bikes__img-container:hover {
  box-shadow: 0 20px 140px rgba(0, 0, 0, 0.11);
}

@media screen and (max-width: 767px) {
  .bikes__img-container {
    box-shadow: none;
    padding-bottom: 0;
  }

  .bikes__img-container:hover {
    box-shadow: none;
  }
}