.lead__stiky-img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 440px;
  width: 100%;
  aspect-ratio: 22/15;
  background-color: #f4f4f4;
  border-radius: 20px;
  position: sticky;
  top: 400px;
  box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .lead__stiky-img {
    top: 80px;
    width: 82.5%;
  }
}